<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>Travel-App</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
  </head>

  <body>
    <div id="app" class="container">

      <div class="row headline-wrapper">

        <h1 class="headline col-12 text-center">Travel App</h1>

      </div>

      <div class="row inputs">

        <div class="destination col-12 col-lg-6 text-center">

          <label for="location">Destination</label>
          <input type="text" id="location" placeholder="Enter location here">

        </div>

        <div class="startDate col-12 col-lg-6 text-center">

          <label for="start">Start date:</label>
          <input type="date" id="start" name="trip-start">


        </div>

        <div class="buttonWrapper col-12 text-center">

          <button id="generate" type="submit">Generate</button>

        </div>

      </div>

      <div class="row results">

        <div class="locationImageWrapper col-lg-6"></div>

        <div class="tripWrapper col-12 col-lg-6">

          <div class="title">Trip information:</div>
          <div class="tripInformation">

            <div id="destination"></div>
            <div id="date"></div>
            <div id="daysLeft"></div>
            <div id="temp"></div>
            <div id="description"></div>

          </div>

        </div>

        <div class="buttons col-12">

          <button class="newBtn">new trip</button>

        </div>

      </div>


    </div>

  </body>

</html>
