<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>Travel-App</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
  </head>

  <body>
    <div id="app" class="container">

      <div class="headline-wrapper row">

        <h1 class="headline col-12 text-center">Travel App</h1>

      </div>

      <div class="row inputs">

        <div class="zip col-12 text-center">

          <label for="location">Destination</label>
          <input type="text" id="location" placeholder="Enter location here">

        </div>

        <div class="feel col-12 text-center">

          <label for="start">Start date:</label>
          <input type="date" id="start" name="trip-start">


        </div>

        <div class="button col-12 text-center">

          <button id="generate" type="submit">Generate</button>

        </div>

      </div>

      <div class="locationImageWrapper">
        <div id="locationImage"/>
      </div>

      <div class="entry row">

        <div class="title">Most Recent Entry</div>
        <div id="entryWeatherData">

          <div id="place"></div>
          <div id="country"></div>
          <div id="lat"></div>
          <div id="lng"></div>

        </div>

      </div>

    </div>

  </body>

</html>
